.bg-img {
  background-image: url(https://user-images.githubusercontent.com/107449948/181348383-cdfaa82e-f919-490e-9fc9-b4665770539a.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #999;
}

.button:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 rgb(67, 154, 197);
  transition: transform 150ms;
  transform: scale(1.03);
}

.hero {
  margin-left: 30%;
  margin-right: 30%;
  border-radius: 0 0 5px 5px;
}

#search_title {
  color: rgb(39, 52, 122);
  text-shadow: 1px 1px 2px rgb(7, 228, 7);
  font-size: 2rem;
  font-weight: bolder;
}

#daily_forcast {
  background-color: rgb(169, 198, 223);
}

.recent-city {
  background-color: rgb(166, 209, 255);
}

.five-day {
  background-color: rgb(72, 72, 199);
  color: rgb(66, 228, 128);
}

.footer {
  background: transparent;
}
