.bg-img {
  background-image: url(https://user-images.githubusercontent.com/107449948/181348383-cdfaa82e-f919-490e-9fc9-b4665770539a.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #999;
}

.hero {
  margin-left: 30%;
  margin-right: 30%;
  border-radius: 0 0 5px 5px;
}

#search_title {
  color: black;
  font-size: 2rem;
  font-weight: bolder;
}

#daily_forcast {
  background-color: rgb(169, 198, 223);
}

.recent-city {
  background-color: rgb(166, 209, 255);
}

.five-day {
  background-color: rgb(72, 72, 199);
  color: rgb(66, 228, 128);
}
