.bg-img {
  background-image: url(https://user-images.githubusercontent.com/107449948/181348383-cdfaa82e-f919-490e-9fc9-b4665770539a.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #999;
}

.button:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 rgb(67, 154, 197);
  transition: transform 150ms;
  transform: scale(1.03);
}

.hero {
  margin-left: 30%;
  margin-right: 30%;
  border-radius: 0 0 10px 10px;
  box-shadow: 0px 10px 19px 4px rgba(0, 0, 0, 0.75);
  background: linear-gradient(to right, #1c92d2, #f2fcfe);
  font-family: "Merriweather", serif;
}

.hero-text {
  color: rgb(50, 47, 89);
}

#hero_title {
  font-size: 40px;
}

#hero_subtitle {
  font-size: 18px;
}

#search_title {
  color: rgb(39, 52, 122);
  text-shadow: 1px 1px 2px rgb(7, 228, 7);
  font-size: 2rem;
  font-weight: bolder;
  font-family: "Merriweather", serif;
}

#daily_forcast {
  background-color: rgb(169, 198, 223);
  box-shadow: 2px 11px 45px 0px rgba(0, 0, 0, 0.75);
  font-family: "Alegreya", serif;
}

.recent-city {
  background-color: rgb(166, 209, 255);
  opacity: 0.85;
  box-shadow: -6px 2px 18px 1px rgba(160, 159, 196, 1);
  font-family: "Alegreya", serif;
}

.five-day {
  background-color: rgb(72, 72, 199);
  color: rgb(66, 228, 128);
  box-shadow: 9px 25px 45px 0px rgba(0, 0, 0, 0.75);
  font-family: "Alegreya", serif;
}

.footer {
  background: transparent;
}
